<style type="text/css">
    body {
    color: #000;
    overflow-x: hidden;
    height: 720px;
    background-image: linear-gradient(to right, #D500F9, #FFD54F);
    background-repeat: no-repeat
}
    .btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F)
}
.btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9)
}


</style>



<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email, class:"form-control-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email id", class:"form-control"  %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
   <br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"password minimum 6 characters", class:"form-control"   %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Reenter your password", class:"form-control"   %>
  </div>

  <div class="row justify-content-center my-3 px-3"> 
                            <div class="actions">
    <%= f.submit "Sign up to Friends App", class:"btn-block btn-color"  %><br>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
